{% extends "home/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.teacher.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-assignments' object.teacher.username %}">{{ object.teacher }}</a><a href="#">{{ object.sub_id }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.teacher == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'assignment-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'assignment-delete' object.id %}">Delete</a>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'assignment-result' object.id %}">Result</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% if user.ias_authenticated %}
{% if user.is_teacher %}
{% for assignment in assignmentdone_list %}
<article class="media content-section">
    <div class="media-body">
        <li>
            <a class="article-title" href="{% url 'assignmentdone-detail' assignment.pk %}">{{ assignment.student }}</a>
        </li>
    </div>
</article>
{% endfor %}
{% else %}
<div class="media-body">
    <a class="btn btn-outline-info mb-4" href="{% url 'assignmentdone-create' as=object.pk %}">Upload your assignments here</a>
</div>
{% endif %}
{% endif %}
{% endblock content %}