{% extends "home/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.teacher.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-subjects' object.teacher.username %}">{{ object.teacher }}</a>
            {% if object.teacher == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'subject-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'subject-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.sub_id }}</h2>
        <p class="article-content">{{ object.title }}</p>
    </div>
</article>
{% if user.is_teacher %}
<a class="btn btn-outline-info mb-4" href="{% url 'assignment-create' subpk=object.id %}">Create Assignment</a>
{% endif %}
{% for assignment in assignment_list %}
<article class="media content-section">
    <div class="media-body">
        <li>
            <a class="article-title" href="{% url 'assignment-detail' assignment.pk %}">{{ assignment.title }}</a>
        </li>
    </div>
</article>
{% endfor %}
{% endblock content %}