{% extends "home/base.html" %}
{% block content %}
<div class="about">
    <h2 class="about_header">
        <meta name="header" content="about_CopyChecker.content"> About CopyChecker </h2>
    <p class="about_text">
        <meta name="text" content="about.text.content"> CopyChecker is one of the
        assignment plagiarism checking application which helps you to detect plagiarism between two
        assignment selected or offered by the authorized teacher. Assignment verification is the main
        concern here. It checks the authenticity of an assignment between two assignments offers by the
        authorized teacher with just a couple of clicks. This web application works with common text
        submition.Students just submit the assignment which is asked for. When the teacher checks for the
        plagiarism verification the CopyChecker application checks the authenticity and shows the percentage
        of the similarity between two assignments or texts within default comparison. The CopyChecker
        application is quite faster and confirm accuracy in the algorithm part. Therefore, the
        application mainly for the plagiarism detection of different subject's assignment of students by
        the teachers.
        <br /><br />
        Hope this benefits all.
    </p>
</div>
{% endblock content %}