{% extends "home/base.html" %}
{% block content %}
<div class="intro mb-4">
    <b><span id="primaryText"><a href="{% url 'home-about' %}"> CopyChecker </a></span></b>
    <span id="secondaryText"> checks the authenticity of an assignment between two assignments offered to the teacher with just a couple of clicks.
        This assignment plagiarism checker web application works with common text submission.
    </span><br /><br /><br /><br />
    <span id="thirdText">
        Happy assignment submitting.
    </span>
</div>
{% endblock content %}